@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .checkbox-primary-green {
        @apply my-1 me-2 h-8 w-8 cursor-pointer accent-studio-200 transition-all ease-linear focus:outline-none focus:ring-1 focus:ring-studio-200 focus:ring-offset-1 focus:transition focus:ease-linear disabled:cursor-not-allowed 4xs:my-2 4xs:me-4 2xs:me-5;
    }
    .checkbox-primary-red {
        @apply my-1 me-2 h-8 w-8 cursor-pointer accent-studio-300 transition-all ease-linear focus:outline-none focus:ring-1 focus:ring-studio-300 focus:ring-offset-1 focus:transition focus:ease-linear disabled:cursor-not-allowed 4xs:my-2 4xs:me-4 2xs:me-5;
    }
    .image-alt-text {
        @apply text-center font-nunito font-extralight text-stone-400;
    }
    .input-basic-red {
        @apply h-8 w-full cursor-text rounded-sm border border-stone-300 px-2 font-nunito text-xs font-light tracking-wider text-stone-800 transition-all ease-linear focus:outline-none focus:ring-1 focus:ring-studio-300 focus:ring-offset-2 focus:transition focus:ease-linear disabled:cursor-not-allowed 2xs:h-10 2xs:px-3.5 2xs:text-sm xs:font-normal;
    }
    .input-primary-green {
        @apply h-12 w-full cursor-text border border-studio-200 px-3 font-nunito text-xs font-light tracking-wider text-stone-900 transition-all ease-linear placeholder:font-nunito placeholder:text-sm placeholder:font-extralight placeholder:tracking-wider placeholder:text-stone-900 focus:outline-none focus:ring-1 focus:ring-studio-200 focus:ring-offset-1 focus:transition focus:ease-linear disabled:cursor-not-allowed 3xs:px-3.5 3xs:placeholder:font-light 2xs:text-sm xs:font-normal md:px-4 2xl:px-5 2xl:placeholder:text-base;
    }
    .input-primary-red {
        @apply h-12 w-full cursor-text border border-studio-300 px-3 font-nunito text-xs font-light tracking-wider text-stone-900 transition-all ease-linear placeholder:font-nunito placeholder:text-sm placeholder:font-extralight placeholder:tracking-wider placeholder:text-stone-900 focus:outline-none focus:ring-1 focus:ring-studio-300 focus:ring-offset-1 focus:transition focus:ease-linear disabled:cursor-not-allowed 3xs:px-3.5 3xs:placeholder:font-light 2xs:text-sm xs:font-normal md:px-4 2xl:px-5 2xl:placeholder:text-base;
    }
    .main-section {
        @apply row-span-1 row-start-2;
    }
    .padding-inline {
        @apply px-2 4xs:px-4 2xs:px-6 lg:px-16 xl:px-28;
    }

    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(var(--color-studio-300) 0 0);
        background:
            var(--c) 0% 50%,
            var(--c) 50% 50%,
            var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
    }
    @keyframes loading {
        20% {
            background-position:
                0% 0%,
                50% 50%,
                100% 50%;
        }
        40% {
            background-position:
                0% 100%,
                50% 0%,
                100% 50%;
        }
        60% {
            background-position:
                0% 50%,
                50% 100%,
                100% 0%;
        }
        80% {
            background-position:
                0% 50%,
                50% 50%,
                100% 100%;
        }
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    background-color: var(--color-studio-500);
    position: relative;
}
